<!-- 预览文章内容 -->
<div class="modal fade" id="content_views" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">文章内容预览</h4>
            </div>
            <div class="modal-body">
                <!-- 此处是文章预览内容，由js渲染 -->
            </div>
        </div>
    </div>
</div>