<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/public/favicon.ico"/>
    <link rel="bookmark"” href="/public/favicon.ico"/>
    <title>Flappy Bird</title>

    <style>
        #game_div,
        p {
            width: 400px;
            margin: auto;
            margin-top: 20px;
        }
    </style>

<script type="text/javascript" src="/public/js/phaser.min.js"></script>
<script type="text/javascript" src="/public/js/flappy_bird.js"></script>
</head>

<body>

    <div style="text-align:center;clear:both"></div>
    <div id="game_div"> </div>
    <p>Press the spacebar to jump</p>
    <p>按空格跳</p>
</body>

</html>