<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/public/favicon.ico"/>
    <link rel="bookmark"” href="/public/favicon.ico"/>
    <title>Rock聊天室</title>
    <style>
        p{
            text-align: center;
            color: red;
        }
    </style>
</head>
<body>
    <p>抱歉，聊天室正在测试中，敬请期待！</p>
    <p>Sorry, chat room is being tested, please look forward to!</p>
</body>
</html>